@import "tailwindcss";

:root {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-canvas: #ffffff;
  --color-ink: #111827;
  --color-accent: #4f46e5;

  background-color: var(--color-canvas);
  color: var(--color-ink);
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}
